.date-btn {
	background-color: var(--blue);
	margin: 10px;
	border: none;
	border-radius: 10px;
	font-size: 20px;
	padding: 20px;
}

.calendar, .select-services {
	display: inline-block;
}

.select-services {
	width: 300px
}

.react-time-picker {
	font-size: 20px;
}

.react-calendar {
	border: none;
	background-color: var(--background);
	width: 500px;
	font-size: 20px;
}

abbr[title] {
	text-decoration: underline;
}
