.schedule-card {
	background-color: var(--yellow);
	width: 300px;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	display: inline-grid;
	text-align: center;
	justify-content: center;
}

.btn-danger {
	background-color: rgb(246, 75, 75);
	border: none;
	font-size: 20px;
	color: white;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.btn-danger:hover, .btn-reschedule:hover {
	cursor: pointer;
	opacity: 50%;
}

.btn-reschedule {
	background-color: var(--blue);
	border: none;
	font-size: 20px;
	color: var(--text-dark);
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}